.own_notification {
  padding: 10px;
  margin: 10px;

  &.error {
    /*
    Style for specific type of notification, will be applied when you
    call notification with "type" parameter:
    this.$notify({ type: 'my-type', message: 'Foo' })
    */
    background: $danger;
    color: $light;
    border-left-color: $danger;
  }

  &.success {
    /*
    Style for specific type of notification, will be applied when you
    call notification with "type" parameter:
    this.$notify({ type: 'my-type', message: 'Foo' })
    */
    background: $success;
    color: $light;
    border-left-color: $success;
  }

  &.info {
    background: $info;
    color: $light;
    border-left-color: $info;
  }
}